
.header{
    display: flex;
    background-color: rgb(12, 12, 12);
    height: 65px;
    justify-content: flex-start;
    font-size: 20px;
    align-content: space-evenly;
}
.nav{
    color: aliceblue;
    margin:10px;
    padding: 2px;
    border: 2px;
    border-radius: 20px;
    text-decoration: none;
}

.head1 a{
text-decoration: none;
}
.fornav{
    color: aliceblue;
    margin:10px;
    padding: 2px;
    border: 2px;
    border-radius: 20px;
}
